<template>
  <div>
    <Fullcalendar
      :plugins="calendarPlugins"
      :header="{ left: 'title', center: 'dayGridMonth timeGridWeek timeGridDay listWeek', right: 'prev today next'}"
      :selectable="true"
      :events="EVENTS"
      @select="handleSelect"
      @eventClick="handleClick"
      :editable="true"
      @eventResize="updateEvent"
      @eventDrop="updateEvent"
    />
    <modals-container />
  </div>
</template>

<script>
require("@fullcalendar/core/main.min.css");
require("@fullcalendar/daygrid/main.min.css");
require("@fullcalendar/timegrid/main.min.css");

import Fullcalendar from "@fullcalendar/vue";
import DayGridPlugin from "@fullcalendar/daygrid";
import TimeGridPlugin from "@fullcalendar/timegrid";
import InteractionPlugin from "@fullcalendar/interaction";
import ListPlugin from "@fullcalendar/list";

import {mapGetters} from 'vuex';

import EventModal from './EventModal'
export default {
  data() {
    return {
      calendarPlugins: [
        DayGridPlugin,
        TimeGridPlugin,
        InteractionPlugin,
        ListPlugin
      ]
    };
  },
  components: {
    Fullcalendar,
  },
  computed:{
      ...mapGetters(["EVENTS"])
  },
  methods:{
      handleSelect (arg) {
          /* eslint-disable no-console */
            console.log(arg);
          /* eslint-enable no-console */
          this.$store.commit("ADD_EVENT", {
              id: (new Date()).getTime(),
              title: "Something",
              start: arg.start,
              end: arg.end,
              allDay: arg.allDay
          })  
      },
      handleClick (arg) {
          this.$modal.show(EventModal, {
              text: "This is from the component",
              event: arg.event
          })
      },
      updateEvent (arg) {
        this.$store.commit("UPDATE_EVENT", arg.event)
      }
  }
};
</script>

<style>
</style>