<template>
<div>
  <div>
      <h4>Event Details</h4>
      <b>TItle: </b> {{event.title}} <br>
      <b>Start: </b> {{event.start}} <br>
      <b>End: </b> {{event.end}} <br>
      <b>Id: </b> {{event.id}} <br>
  </div>
  <div>
    <h4> Edit Event</h4>
    <input type="text" v-model="title">
    <input type="date" v-model="start">
    <input type="date" v-model="end">
    <button @click="updateEvent">SAVE</button>
  </div>
  </div>
</template>

<script>
// import {mapGetters} from 'vuex';
export default {
//   computed:{
//       ...mapGetters(["EVENT"])
//   },
data(){
  return {
    title : "",
    start : {},
    end : {}
  }
},
props: {
    text: String,
    event: Object
},
mounted(){
  this.title = this.event.title;
  this.start = this.event.start;
  this.end = this.event.end;
},
methods:{
  updateEvent(){
    this.$store.commit("UPDATE_EVENT", {
      id: this.event.id,
      title: this.title,
      start: this.start,
      end: this.end
    })
  }
}
};
// function formatDate(date){
//   //YYYY-MM-DD     YYYY. MM. DD
//   let string = date.toLocaleDateString("ko-KR")
// }
</script>

<style>

</style>